<% title(@project.name, 'Projects') %>

<div id="ticket">

</div>
<%= @project.name %><br>
<%= @project.description %>

<ul>
  <% @project.tickets.each do |ticket| %>
    <li>
      # <%= ticket.id %> -
      <%= link_to ticket.title, [@project, ticket] %><br>
    </li>
  <% end %>
</ul>

<ul>
  <li>
    <%= link_to 'Edit Project', edit_project_path(@project) %>
  </li>
  <li>
  <%= link_to 'Delete Project', project_path(@project), method: :delete,
      data: { confirm: 'Are you sure?'} %>
  </li>
  <li>
    <%= link_to 'New Ticket', new_project_ticket_path(@project) %>
  </li>
</ul>
